/*
 * В этом файле стили для главной страницы статического сайта на GitHub Pages
 */

#wrapper {
  display: block;
  max-width: 1320px;
  margin: 0 auto;
}

#columns {
  display: flex;
  justify-content: space-between;
}
#columns > div {
  box-sizing: border-box;
  float: none;
}
body.not-front #columns > div {
  margin-left: 0;
  margin-right: 0;
}
#columns::after {
  display: none;
}

@media (max-width: 699.9px) {
  #columns {
    flex-direction: column;
    max-width: 500px;
  }
  #columns > div:not(:first-child) {
    margin-top: 20px;
  }
  #center {
    order: 1;
  }
  #right {
    order: 2;
  }
  #left {
    order: 3;
  }
  .ghpages-mobile__item:not(:first-child) {
    margin-top: 15px;
  }
  [data-ghpages-mobile-order] {
    display: none;
  }
}
@media (min-width: 700px) {
  #columns {
    flex-direction: row;
    align-items: flex-start;
  }
  #columns > div {
    position: sticky;
    top: 0;
    flex: 1;
  }
  #columns > div:not(:first-child) {
    padding-left: 5px;
  }
  #columns > div:not(:last-child) {
    padding-right: 5px;
  }
  #ghpages-mobile {
    display: none;
  }
}
@media (min-width: 900px) {
  #columns > div:not(:first-child) {
    padding-left: 15px;
  }
  #columns > div:not(:last-child) {
    padding-right: 15px;
  }
}

.strong-links {
  display: flex;
  justify-content: space-between;
}
.strong-links > a {
  width: auto;
  flex: 1;
}

.type-material_media.image-hor .media-anons-cont {
  float: none;
  width: auto;
  height: auto;
}
.type-material_media img {
  width: 100%;
}
@media (min-width: 700px) and (max-width: 1099.9px) {
  .type-material_media .field-type-text-with-summary.field-label-hidden {
    display: none;
  }
}

#block-fieldblock-node-battle-default-field-summary .cities > .item > .number {
  display: initial;
  width: auto;
  flex-basis: 50px;
  flex-shrink: 0;
}

#center .page-header {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1;
}

@media (max-width: 499.9px), (min-width: 700px) and (max-width: 1099.9px) {
  #block-fieldblock-node-battle-default-field-summary .cities {
    column-count: 1;
  }
}
#block-fieldblock-node-battle-default-field-summary .cities > .item > .city {
  width: auto;
}

@media (max-width: 499.9px), (min-width: 700px) and (max-width: 1099.9px) {
  .main-block-legal .title {
    font-size: 32px;
    line-height: 1;
  }
  .main-block-legal .subtitle {
    font-size: 24px;
  }
}
