/*
 * В этом файле стили для страниц /article/*, /news/*, /documents/*
 * статического сайта на GitHub Pages
 */

#wrapper {
  display: block;
  padding: 0 10px;
}

#columns {
  display: flex;
  max-width: 900px;
}
/*temp*/
.text-page #social-column {
  display: none;
}
@media (max-width: 799.9px) {
  #columns {
    flex-direction: column;
  }
}
@media (min-width: 800px) {
  #columns {
    flex-direction: row;
  }
  .text-page #social-column {
    align-self: flex-start;
    position: sticky !important;
    top: 20px !important;
  }
body.not-front #columns > div {
  float: none;
}

article .field-name-body ul {
  list-style: disc;
  padding-left: 1.5em;
}
article .field-name-body ul li {
  padding-left: 0;
  background: none;
}
